<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .links {
            display: inline-block;
            margin-right: 30px;
            padding: 30px;
        }
        .box {
            border: solid black 3px;
            width: fit-content;
            height: fit-content;
            padding: 25px;
        }
        h2 {
            border-bottom: solid black 5px;
            padding-bottom: 30px;
        }
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <center>
        <div class="box">
            <form action="/length" method="post">
                <h2>Unit Converter</h2>
                <div class="links">
                    <b><u><a>Length</a></u></b>
                    <a href="/weight">Weight</a>
                    <a href="/temp">Temperature</a>
                </div>
                <br>
                Enter the length to convert
                <br>
                <input type="text" name="value">
                <br><br>
                Unit to convert from
                <br>
                <input type="text" name="convertFrom">
                <br><br>
                Unit to convert to
                <br>
                <input type="text" name="convertTo">
                <br><br>
                <button type="submit">Convert</button>
                <br><br>
            </form>
        </div>
    </center>
</body>
</html>